*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: rgb(1, 1, 1);
  font-size: large; 
}

a:hover {
  color:rgb(255, 255, 255);
}

#fname,
#lname,
#email,
#pwd {
  width: 80%;
  height: 30px;
  border: none;
}

legend {
  text-align: center;
  font-size: x-large;
}

#login {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.box {
  padding: 120px 100px;
  border:none;
  Margin:30px auto;
  Padding:30px;
  Width: 450px; 
  Height: 480px;
  Position: relative;
  background-color: red;
  border-radius: 5px;
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
  font-weight: bolder;
  font-size: larger;
}


.stud {
  background-color: #000000;
  color:white;
  margin-top:5px;
  font-size: 14px;
  border: none;
  padding:2px;
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}


#log {
  width: 100%;
  width: 100vw;
  height: 787px; /* change it to your value depending on context*/
  background-color: #ffffff;
  color: black;
  padding: 40px 100px;
  border: 1px solid black;
} 

footer {
  position: absolute;
  left: 0;
  text-align: center;
  border: none;
  color: white;
  width: 100%;
  width: 100vw;
  height: 54px;
  background-color: #000000;
  margin-top: 19px;
  padding-top: 4px;
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}
